@tailwind base;
@tailwind components;
@tailwind utilities;


.Alive{
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
  }
  .Dead{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
  }
